<% provide(:title, 'Edit') %>
<% provide(:class_text, 'article-edit') %>
<% provide(:button_text, '更新する') %>

<div class="container">
  <div class="col-md-10 col-md-offset-2">
    <h1><%= t('.edit') %></h1>
    <%= render 'shared/form' %>
  </div>
</div>
