/* ログインフォーム */
.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  span {
    font-weight: normal;
  }
}

/* サインアップフォーム */
.label-signup {
  margin-top: 5px;
}

/* ボタン */
.actions {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}